body {
    background-image: url('trees3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #082517;
}

#navWordsPort :hover {
    color: #3E9F70;
}
#myNavbarWords :hover {
    color: #3E9F70;
}

.title {
    font-size: 150px;
    color: white;
    font-family: 'Maitree', serif;

}

/* Extra small devices (phones, up to 480px) */
@media screen and (max-width: 767px) {
    .title {
        font-size: 80px;
    }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
    .title {
        font-size: 100px;
    }
}
/* tablets/desktops and up ----------- */
@media (min-width: 992px) and (max-width: 1199px) {
    .title {
        font-size: 150px;
    }
}
/* large desktops and up ----------- */
@media screen and (min-width: 1200px) {
    .title {
        font-size: 150px;
    }
}

.block {
    text-align: left;
}

#row1Left {
    background-color: rgba(64, 142, 47, .8);
    padding: 6px 35px .03px 35px;
    margin-bottom: 25px;
    border-radius: 1.5%;
    color:white;
}
#row1LeftB {
    border-radius: 1.5%;
    margin-bottom: 25px;
}

#blockQuote1 {
    background-color: rgba(64, 142, 47, .8);
}

#row1Right {
    background-color: rgba(64, 142, 47, .5);
    padding: 6px 35px 15px 35px;
    margin-bottom: 25px;
    border-radius: 1.5%;
    color:white;
}

#row1 {
    margin: 0 2px 0 2px;

}

.footer {
    position: absolute;
    width: 100%;
    background-color: rgb(29, 29, 29);
    border: none;
}

.footer-text {
    color: white;
    text-align: right;
}

#div-footer {
    padding-top: 14px;
    padding-right: 14px;
}
